@using Ciber.Model.SeedWork
@model PagingSP

<div class="container">
    @if(Model.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">

            @if(Model.PageIndex > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Order" asp-action="Index" asp-route-pageIndex="1" asp-route-orderBy="@ViewData["orderByValue"]" asp-route-orderByDesc="@ViewData["orderByDescNextPage"]">First</a>
                </li>
                <li>
                    <a class="page-link" asp-controller="Order" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex - 1)" asp-route-orderBy="@ViewData["orderByValue"]" asp-route-orderByDesc="@ViewData["orderByDescNextPage"]">Previous</a>
                </li>
            }

            @for(var pge = 1; pge <= Model.TotalPages; pge++)
            {
                <li class="page-item @(pge == Model.PageIndex ? "active" : "")">
                    <a class="page-link" 
                    asp-controller="Order" 
                    asp-action="Index" 
                    asp-route-pageIndex="@pge" 
                    asp-route-orderBy="@ViewData["orderByValue"]"
                    asp-route-orderByDesc="@ViewData["orderByDescNextPage"]"
                    > @pge</a>
                </li>
            }

            @if(Model.PageIndex < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Order" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex + 1)" asp-route-orderBy="@ViewData["orderByValue"]" asp-route-orderByDesc="@ViewData["orderByDescNextPage"]">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="Order" asp-action="Index" asp-route-pageIndex="@(Model.TotalPages)" asp-route-orderBy="@ViewData["orderByValue"]" asp-route-orderByDesc="@ViewData["orderByDescNextPage"]">Last</a>
                </li>
            }
        </ul>
    }
</div>
